[submodule "nomad-ov/docker/omicverse"]
	path = nomad-ov/docker/omicverse
	url = https://github.com/Starlitnightly/omicverse.git
[submodule "nomad-ov/cluster/plugins/nomad-device-nvidia"]
	path = nomad-ov/cluster/plugins/nomad-device-nvidia
	url = https://github.com/hashicorp/nomad-device-nvidia.git
